<template>
    <b-container class="pt-4 text-left">
        <h1>About / FAQ</h1><br/>
        <h2>Apue!</h2>
        <p>Apue!</p>
        <h2>No really, what is this?</h2>
        <p>
            This is a fan-run site about Hana Macchia, a VTuber from NIJISANJI ID.
        </p>
        <p>
            Linked in the header is her Twitter account and Youtube Channel. You can also join us at the fan-run Discord
            server and chat with us (and make suggestions for things to add).
        </p>
        <h2>Why is there a `Songs` section? Hana has a songlist of her own!</h2>
        <p>
            Some songs appearances, for some reason, are not in that list.
        </p>
        <h2>BGM please!</h2>
        <p>
            That's not a question, but sure... She has used multiple in the past, so check this list if one of these is
            the one you're looking for
        </p>
        <ol>
            <li>
                Main BGM:
                <a href="https://youtu.be/3HojiCuXrtA" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/3HojiCuXrtA
                </a>
            </li>
            <li>
                <a href="https://youtu.be/_VBNvvwfjXU" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/_VBNvvwfjXU
                </a>
            </li>
            <li>
                <a href="https://youtu.be/6Qgjk066ZbI" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/6Qgjk066ZbI
                </a>
            </li>
            <li>
                Luwak costume:
                <a href="https://youtu.be/jvehUKWBlLs" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/jvehUKWBlLs
                </a>
            </li>
            <li>
                Chill:
                <a href="https://youtu.be/QQIBOcowXuI" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/QQIBOcowXuI
                </a>
            </li>
            <li>
                Sleepy stream:
                <a href="https://youtu.be/7kuQFPn3uc8" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/7kuQFPn3uc8
                </a>
            </li>
            <li>
                Chill BGM:
                <a href="https://youtu.be/FbZoJpRm0H4" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/FbZoJpRm0H4
                </a>
            </li>
            <li>
                Luwak BGM:
                <a href="https://youtu.be/jvuXFn9YzJY" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/jvuXFn9YzJY
                </a>
            </li>
            <li>
                <a href="https://youtu.be/6is3qL7x9JQ" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/6is3qL7x9JQ
                </a>
            </li>
            <li>
                <a href="https://youtu.be/-OWBrqnRGMM" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/-OWBrqnRGMM
                </a>
            </li>
            <li>
                <a href="https://youtu.be/420DvPiALog" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/420DvPiALog
                </a>
            </li>
            <li>
                <a href="https://youtu.be/_6VxTpU1-Z8" target="_blank" rel="noopener noreferrer">
                    https://youtu.be/_6VxTpU1-Z8
                </a>
            </li>
        </ol>
        <h2>There's a song in the Karaoke playlist that has been privated. Where can I find it?</h2>
        <p>
            Your best bet is searching on Youtube itself. There's a lot of song clips from unarchived streams on there.
        </p>
    </b-container>
</template>
<script>
    import {
        BContainer,
    } from "bootstrap-vue/src";

    export default {
        components: {
            BContainer,
        },
    }
</script>
<style lang="scss" scoped>
</style>
