<template>
    <b-container class="pt-4">
        <router-link to="/ia/karaoke" class="float-md-left mb-2"><b-button>Performances</b-button></router-link>
        <b-button @click="nextMode" class="float-md-left mb-2 ml-2">{{ MODE_LABEL[mode] }}</b-button>
        <h1 class="pt-3 pt-md-0">Karaoke statistics</h1>
        <p class="d-md-none">Note for mobile users: Scroll to the right to see the artist name</p>
        <table class="table table-responsive table-striped fix-color">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" v-if="mode === MODE_SONG">Title</th>
                    <th scope="col">Artist</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="song in data" :key="`${song.artist}--${song.name}`">
                    <td>{{ song.count }}</td>
                    <td v-if="mode === MODE_SONG">{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                </tr>
            </tbody>
        </table>
    </b-container>
</template>
<script>
    import {
        BButton,
        BContainer,
    } from "bootstrap-vue/src";
    import _data from '@/data/karaoke.yaml?stream';

    const data = Object.values(_data
            .map(stream => stream.songs
                    .reduce((res, v) => {
                        const key = `${v.artist}--${v.name}`;
                        res[key] = {
                            artist: v.artist,
                            name: v.name,
                        };
                        return res;
                    }, {})
                , {})
            .reduce((res, v) => {
                Object.values(v).forEach(z => {
                    const key = `${z.artist}--${z.name}`;
                    if (!(key in res)) {
                        res[key] = z;
                        res[key].count = 0;
                    }
                    res[key].count++;
                })
                return res;
            }, {}),
        )
        .sort((a, b) => {
            if (a.count !== b.count) {
                return a.count < b.count ? 1 : -1;
            }
            let namecmp = String(a.artist).localeCompare(String(b.artist));
            if (namecmp !== 0) {
                return namecmp;
            }

            return String(a.name).localeCompare(String(b.name));
        })

    const MODE_SONG = 0;
    const MODE_ARTIST = 1;
    const MODE_ARTIST_UNIQUE = 2;
    const MODE_LABEL = [
        'By song',
        'By artist',
        'By artist (unique songs)',
    ];

    export default {
        components: {
            BButton,
            BContainer,
        },
        data: () => ({
            mode: 0,
            MODE_LABEL,
            MODE_SONG,
        }),
        methods: {
            nextMode() {
                this.mode++;
                this.mode %= MODE_LABEL.length;
            },
        },
        computed: {
            data() {
                if (this.mode === MODE_SONG) {
                    return data;
                }
                if (this.mode === MODE_ARTIST || this.mode === MODE_ARTIST_UNIQUE) {
                    return Object.entries(data.reduce((res, song) => {
                        if (!(song.artist in res)) {
                            res[song.artist] = 0;
                        }
                        res[song.artist] += this.mode === MODE_ARTIST_UNIQUE ? 1 : song.count;
                        return res;
                    }, {}))
                        .map(v => ({ artist: v[0], count: v[1] }))
                        .sort((a,b) => {
                            if (a.count !== b.count) {
                                return a.count < b.count ? 1 : -1;
                            }
                            return String(a.artist).localeCompare(String(b.artist));
                        })
                }
                return [];
            },
        },
    }
</script>
<style lang="scss" scoped>
    .songlist tr:nth-child(1) th {
        text-align: center;
    }
</style>
