<template>
    <b-container class="pt-4">
        <b-row class="pb-3">
<!--            <b-col class="ml-1">-->
                <b-dropdown :text="`Sort by ${sorts[active_sort].name}`" class="mr-2 mt-2" variant="outline-info">
                    <b-dropdown-item v-for="item of sorts" :key="`sb-sort-${item.name}`" :active="sorts.indexOf(item) === active_sort" v-on:click="active_sort = sorts.indexOf(item); order = item.order">{{ item.name }}</b-dropdown-item>
                </b-dropdown>
<!--            </b-col>-->
<!--            <b-col class="mr-1" >-->
                <b-button @click="nextOrder" class="mr-2 mt-2" variant="outline-info">Order: {{ order_labels[order] }}</b-button>
                <b-button @click="nextMode" variant="outline-info" class="mr-2 mt-2">Mode: {{ mode_labels[mode] }}</b-button>
                <b-form-input v-model="filter_text" placeholder="Search..." class="mr-2 mt-2 search"></b-form-input>
<!--            </b-col>-->
        </b-row>
        <b-row cols="3" cols-sm="4" cols-lg="6" >
            <b-col v-for="sound in sorted.slice((current_page - 1) * per_page, current_page * per_page)" :key="sound.filename">
                <Playable v-if="mode === 0" :sound="sound" />
                <Downloadable v-else-if="mode === 1" :sound="sound" />
            </b-col>
        </b-row>
        <b-row>
            <b-pagination
                v-model="current_page"
                :total-rows="sorted.length"
                :per-page="per_page"
                class="mx-auto"
            ></b-pagination>
        </b-row>
    </b-container>
</template>
<script>
    import Downloadable from "@/components/Downloadable";
    import Playable from "@/components/Playable";
    import {
        BButton,
        BCol,
        BContainer,
        BDropdown,
        BDropdownItem,
        BFormInput,
        BPagination,
        BRow,
    } from "bootstrap-vue/src";

    // const
    //     MODE_PLAYBACK = 0,
    //     MODE_DOWNLOAD = 1
    // ;
    const MODE_LABELS = [
        'Playback',
        'Download',
    ];
    const NUM_MODES = 2;

    const ORDER_ASC = 0;
    const ORDER_DESC = 1;
    const ORDER_LABELS = [
        'Ascending',
        'Descending',
    ];

    export default {
        components: {
            Downloadable,
            BButton,
            BCol,
            BContainer,
            BDropdown,
            BDropdownItem,
            BFormInput,
            BPagination,
            BRow,
            Playable,
        },
        data: () => ({
            loaded: false,
            sounds: [],

            filter_text: '',

            sorts: [
                {
                    name: 'Date Added',
                    order: ORDER_DESC,
                    fn: array => array,
                },
                {
                    name: 'Name',
                    order: ORDER_ASC,
                    fn: array => array.sort((a,b) => a.name.localeCompare(b.name)),
                },
                {
                    name: 'Duration',
                    order: ORDER_ASC,
                    fn: array => array.sort((a, b) => a.duration - b.duration),
                },
            ],
            active_sort: 0,

            order: ORDER_DESC,
            order_labels: ORDER_LABELS,

            mode: 0,
            mode_labels: MODE_LABELS,

            current_page: 1,
            per_page: 24,
        }),
        mounted() {
            if (!this.loaded) {
                fetch('/sounds/index.json')
                    .then(res => res.json())
                    .then(data => {
                        this.sounds = data;
                        this.loaded = true;
                    });
            }
        },
        computed: {
            usersort() {
                return this.sorts[this.active_sort].fn(this.sounds.slice(), this.order);
            },
            sorted() {
                let data = this.usersort.slice();
                if (this.order === ORDER_DESC) {
                    data.reverse();
                }

                if (this.filter_text.length) {
                    data = data.filter(v => v.name.toLowerCase().includes(this.filter_text.toLowerCase()))
                }

                return data;
            },
        },
        methods: {
            nextMode() {
                this.mode++;
                this.mode %= NUM_MODES;
            },
            nextOrder() {
                this.order++;
                this.order %= 2;
                this.current_page = 1;
            },
        },
    }
</script>
<style lang="scss" scoped>
    @import "../base";

    .search {
        @include media-breakpoint-up(md) {
            width: 25vw;
        }
    }
</style>
