<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="hana-dark">
            <b-container fluid="lg">
                <b-navbar-brand href="#">APUE</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item to="/ia/soundboard">Soundboard</b-nav-item>
                        <b-nav-item to="/ia/karaoke">Karaoke</b-nav-item>
                        <b-nav-item to="/ia/songs">Songs</b-nav-item>
                        <b-nav-item to="/ia/about">FAQ</b-nav-item>
                    </b-navbar-nav>

                    <hr />

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item @click="toggleTheme"><font-awesome-icon :icon="icon" size="lg"></font-awesome-icon></b-nav-item>
                        <b-nav-item href="https://twitter.com/Hana_Macchia" target="_blank" rel="noopener noreferrer">Twitter</b-nav-item>
                        <b-nav-item href="https://www.youtube.com/channel/UCpJtk0myFr5WnyfsmnInP-w" target="_blank" rel="noopener noreferrer">Youtube</b-nav-item>
                        <b-nav-item href="https://discord.com/invite/Qk6aPBu" target="_blank" rel="noopener noreferrer">Fan discord</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </b-container>
        </b-navbar>
    </div>
</template>
<script>
    import {
        faSun,
        faMoon,
    } from '@fortawesome/free-solid-svg-icons';

    import {
        BNavbar,
        BNavbarNav,
        BNavbarBrand,
        BNavbarToggle,
        BNavItem,
        BCollapse,
        BContainer,
    } from "bootstrap-vue/src";

    export default {
        components: {
            BNavbar,
            BNavbarNav,
            BNavbarBrand,
            BNavbarToggle,
            BNavItem,
            BCollapse,
            BContainer,
        },
        data: () => ({
            collapse: 'nav-collapse',
            visible: true,
        }),
        mounted() {
            this.$root.$on('bv::collapse::state', (collapseId, isJustShown) => {
                if (collapseId !== this.collapse) {
                    return;
                }

                this.visible = isJustShown;
            })
        },
        computed: {
            icon() {
                return this.$store.state.darkmode ? faMoon : faSun;
            },
        },
        methods: {
            toggleTheme() {
                this.$store.commit('setDarkmode', !this.$store.state.darkmode);
            },
        },
        watch: {
            '$route.path': {
                handler: function(to, from) {
                    if (!from) {
                        return;
                    }
                    if (!this.visible) {
                        return;
                    }
                    this.$root.$emit('bv::toggle::collapse', this.collapse)
                },
                deep: true,
                immediate: true,
            },
        },
    }
</script>
