<template>
    <div class="">
        <font-awesome-icon :icon="icon" size="2x" @click="playing ? pause() : play()" /><br/>
        {{ sound.name }}
    </div>
</template>
<script>
    import { faPlay, faPause } from '@fortawesome/free-solid-svg-icons';

    export default {
        props: {
            sound: {
                type: Object,
                required: true,
            },
        },
        data: () => ({
            audio: null,
            playing: false,
        }),
        computed: {
            icon() {
                if (this.playing) {
                    return faPause;
                }

                return faPlay;
            },
        },
        methods: {
            play() {
                if (!this.audio) {
                    this.audio = new Audio(`/sounds/${this.sound.filename}`);

                    this.audio.addEventListener('playing', () => {
                        this.playing = true;
                    });
                    this.audio.addEventListener('ended', () => {
                        this.playing = false;
                    });
                }

                this.audio.currentTime = 0;
                this.audio.play();
            },
            pause() {
                this.playing = false;
                this.audio.pause();
            },
        },
        beforeDestroy() {
            if (this.audio) {
                if (this.playing) {
                    this.audio.pause();
                }
            }
        },
    }
</script>
