<template>
  <div id="app" :class="{ darkmode: $store.state.darkmode }">
        <Menu />
        <b-container fluid="lg">
            <RouterView />
        </b-container>
  </div>
</template>

<script>
    import Menu from './components/Menu';
    import {
        BContainer,
    } from "bootstrap-vue/src";

    export default {
        name: 'App',
        components: {
            BContainer,
            Menu,
        },
    }
</script>

<style lang="scss">
@import "base";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";

@import "~bootstrap/scss/pagination";

@import "~bootstrap/scss/buttons";

@import "~bootstrap/scss/tables";

@import "~bootstrap/scss/tooltip";

@import "~bootstrap-vue/src/variables";
@import "~bootstrap-vue/src/utilities";
@import "~bootstrap-vue/src/custom-controls";
@import "~bootstrap-vue/src/components/tooltip/index";


//@import "~bootstrap-vue/src/components/collapse/";
//@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    margin: 0;
    display: grid; // Workaround for footer white padding
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;

    &.darkmode {
        color: lightgrey !important;
        background-color: var(--dark);

        .fix-color {
            color: lightgrey !important;
        }
    }
}
</style>
